@page
@model QuizApp.Pages.QuizModel
@{
    ViewData["Title"] = "Questions";
}

<h2>Quiz</h2>
<form method="post">
    
        @foreach(var quiz in Model.Quizzies){

            <h5>@quiz.Question</h5>

        @foreach (var answer in quiz.Answers)
        {
            <div>
                <input type="radio" name="UserAnswers[@quiz.Id]" id="@answer" value="@answer" />
               
                <label for="@answer">@answer</label>
            </div>
        }
}
    
    <button type="submit">Submit Answers</button>
    
    </form>
    